<body>
    <!-- navLateral -->
    <section class="full-width navLateral">
        <div class="full-width navLateral-bg btn-menu"></div>
        <div class="full-width navLateral-body">
            <div class="full-width navLateral-body-logo text-center tittles">
                <i class="zmdi zmdi-close btn-menu"></i> Servicio de contratos
            </div>
            <div class="full-width tittles navLateral-body-tittle-menu">
                <i class="zmdi zmdi-desktop-mac"></i><span class="hide-on-tablet">&nbsp; BIENVENIDO</span>
            </div>
            <nav class="full-width">
                <ul class="full-width list-unstyle menu-principal">
                    <li class="full-width bordes">
                        <a href="/src/app/components/agregar-servicio/agregar-servicio.component.html"
                            class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-view-dashboard"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                Nuevo servicio
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width bordes">
                        <a href="" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-washing-machine"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                Finalizar servicio
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width bordes">
                        <a href="" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                Estado del servicio
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width bordes">
                        <a href="" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-store"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                Servicios finalizados
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- pageContent -->
    <section class="full-width pageContent">
        <section class="full-width header-well ">
            <div class="full-width header-well-icon">
                <i class="zmdi zmdi-washing-machine"></i>
            </div>
        </section>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__panel is-active" id="tabNewProduct">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                        <div class="full-width panel mdl-shadow--2dp">
                            <div class="full-width panel-content ">
                                <div class="full-width panel-tittle bg-primary text-center tittles tituloAzul">
                                    <h5 id="tituloA">Realizar nuevo contrato</h5>
                                </div>
                                <form class="mt-4"  (ngSubmit)="agregarServicio()">
                                    <div class="mdl-grid" class="contenido">
                                        <div
                                            class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                            <h5 class="text-condensedLight tituloContenido">Informacion del contrato
                                            </h5>
                                            <div id="columna1">
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label">Nombre
                                                        del
                                                        contratista</label>
                                                    <input type="text" class="form-control campoText"
                                                        formControlName="contratista" placeholder="Contratista"
                                                        id="validationCustom02" value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label"
                                                        formControlName="empresa" placeholder="Empresa">Nombre de la
                                                        empresa</label>
                                                    <input type="text" class="form-control campoText"
                                                        formControlName="empresa" placeholder="Empresa"
                                                        id="validationCustom02" value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label">Nombre del
                                                        servicio</label>
                                                    <input type="text" class="form-control campoText"
                                                        formControlName="tipoServicio" placeholder="Servicio"
                                                        id="validationCustom02" value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label">Descripción del
                                                        servicio</label>
                                                    <input type="text" class="form-control campoText descripcion"
                                                        formControlName="descripcion" placeholder="Descripción"
                                                        id="validationCustom02" value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="columna2">
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label">Fecha de
                                                        inicio</label>
                                                    <input type="date" class="form-control campoText"
                                                        formControlName="fechaInicio" placeholder="Fecha de inicio"
                                                        id="validationCustom02" value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label">Fecha de
                                                        finalización</label>
                                                    <input type="date" class="form-control campoText"
                                                        formControlName="fechaFinalizacion"
                                                        placeholder="Fecha de finalización" id="validationCustom02"
                                                        value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom02" class="form-label">Valor del
                                                        contrato</label>
                                                    <input type="text" class="form-control  campoText"
                                                        formControlName="valor" placeholder="Valor"
                                                        id="validationCustom02" value="" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield agregarArchivo">
                                                    <input type="file">
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary botonAgregar"
                                                        formControlName="adjuntos" id="formFile" type="submit">Agregar
                                                        contrato</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>