.fondo {
  background-image: url("/src/assets/empresa.jpg");
  background-size: cover;
  background-position: center;
}
#tituloInferior {
  color: aliceblue;
  padding-top: 30px;
  font-size: 36px;
  text-align: center;
}

.logo {
  position: center;
}

.textoInferior {
  color: rgba(237, 199, 199, 0.59);
  font-size: 15px;
  text-align: center;
}

.botonInicio {
  color: rgba(240, 248, 255, 0.94);
}

.text-light {
  color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-dark-x {
  background-color: #1e2126;
}

.btn {
  min-height: 3.125rem;
  font-weight: 600;
}

.form-control {
  min-height: 3.125rem;
  line-height: initial;
}

.form-control:focus {
  background-color: var(--dark-x);
  outline: none;
}
