<div class="bg-dark">
  <section>
    <div class="row g-0">
      <div class="col-lg-7 d-none d-lg-block" >
        <img class="fondo" src="./assets/empresa.jpg">
        <h5 class="font-weight-bold" id="tituloInferior">Gestiona tus contratos</h5>
        <p class="textoInferior">HSOFT La mejor forma de administrar tus contratos</p>
      </div>
      <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
          <img src="./assets/logo2.png" class="img-fluid  logo" />
        </div>
        <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
          <h1 class="font-weight-bold text-light mb-4">Bienvenido de vuelta</h1>
          <form class="mb-5">
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label font-weight-bold text-light">Usuario</label>
              <input type="email" class="form-control bg-dark-x border-0" id="exampleInputEmail1"
                placeholder="Ingresa tu email" aria-describedby="emailHelp">
            </div>
            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label font-weight-bold text-light">Contraseña</label>
              <input type="password" class="form-control bg-dark-x border-0 mb-2" placeholder="Ingresa tu contraseña"
                id="exampleInputPassword1">
              <a href="" id="emailHelp" class="form-text text-muted text-decoration-none">¿Has olvidado tu
                contraseña?</a>
            </div>
            <button type="submit" class="btn btn-primary w-100 botonInicio">Iniciar sesión</button>
          </form>
          <p class="font-weight-bold text-center text-muted">O inicia sesión con</p>
          <div class="d-flex justify-content-around">
            <button type="button" (click)="loginGoogle()" class="google btn btn-outline-light flex-grow-1 mr-2"><i
                class="fab fa-google lead mr-2"></i> Google</button>
            <button routerLink="/email-login" class="email">Email</button>
          </div>
        </div>
        <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-auto w-100">
          <p class="d-inline-block mb-0 textoInferior">¿Todavia no tienes una cuenta?</p> <a href=""
            class="text-light font-weight-bold text-decoration-none">Crea una ahora</a>
        </div>
      </div>
    </div>
  </section>
</div>
