.img-1 {
  background-image: url("/src/assets/empresa.jpg");
  background-size: cover;
  background-position: center;
}

.img-2 {
  background-image: url("/src/assets/empresa2.jpg");
  background-size: cover;
  background-position: center;
}

.text-light {
  color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-dark-x {
  background-color: #1e2126;
}

.btn {
  min-height: 3.125rem;
  font-weight: 600;
}

.form-control {
  min-height: 3.125rem;
  line-height: initial;
}

.form-control:focus {
  background-color: var(--dark-x);
  outline: none;
}